html {
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 500px;
}

.cell {
    background-color: gray;
    padding: 0px;
    margin: 0px;
}